.background-canvas {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    opacity: 0.5;
}