.tile {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: calc(-1 * 15vw / (4 * sqrt(3)));
    margin-bottom: calc(-1 * 15vw / (4 * sqrt(3)));
    width: 15vw;
    height: calc(15vw * 2 / sqrt(3));
    display: flex;
    justify-content: center;
    align-items: center;
}

.outline-tile {
    background-color: transparent;
    width: 10vw;
    height: calc(10vw * 2 / sqrt(3));
    transition: background-color 1s ease;
    /* margin-top: calc(-1 * 10vw * (2 / sqrt(3) - 1));
    margin-bottom: calc(-1 * 10vw * (2 / sqrt(3) - 1)); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.outline-tile::before {
    content: "";
    width: calc(10vw - 6px);
    height: calc(10vw * 2 / sqrt(3) - 6px);
    background: white;
}

.tile,
.outline-tile,
.outline-tile::before {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.mountains {
    background-image: url('/static/images/hexes/vector/mountain.svg');
}

/* 
.mountains::after {
    content: "Mountains (produces Ore)";
    display: none;
    background-color: grey;
    color: white;
    transition: opacity 0.3s ease-in-out; 
    opacity: 0; 
}

.mountains:hover::after {
    display: block;
    opacity: 1; 
    transition-delay: 0.5s; 
} */

.forest {
    background-image: url('/static/images/hexes/vector/forest.svg');
}

.pasture {
    background-image: url('/static/images/hexes/vector/pasture.svg');
}

.hills {
    background-image: url('/static/images/hexes/vector/hill.svg');
}

.fields {
    background-image: url('/static/images/hexes/vector/field.svg');
}


.desert {
    background-image: url('/static/images/hexes/vector/desert.svg');
}